body
{
background-color:99FF66;
}
img
{
height:200px;
wirdth:400px;
position:fixed;
top:10px;
left:150px;
}
h1
{
position:fixed;
top:250px;
left:150px;
font-style:italic;
font-weight:bold;
color:FF6633;
}
h2
{
position:fixed;
top:300px;
left:250px;
text-decoration:underline;
color:339966;
}
form
{
position:fixed;
top:400px;
left:350px;
color:009999;
}