body
{
background-color:FFCCFF;
}
img
{
position:fixed;
left:200px;
width:400px;
height:150px;
}
h1
{
color:FF33FF;
border-style:5px dashed 6600FF;
position:fixed;
top:170px;
left:80px;
}
#a
{
color:330033;
position:fixed;
top:230px;
left:120px;
}
h2
{
color:9900CC;
position:fixed;
left:100px;
top:400px;
text-decoration:underline;
font-weight:bold;
}
#e
{
position:fixed;
top:470px;
left:120px;
color:3300FF;
}
#f
{
position:fixed;
top:600px;
left:150px;
color:330033
}
#g
{
position:fixed;
top:750px;
left:200px;
color:0000FF;
}
