h1
{
position:fixed;
top:10px;
left:100px;
color:330099;
}
body
{
background-color:FF6699;
}
table
{
position:fixed;
top:110px;
left:200px;
color:99FF00;
}
p
{
position:fixed;
top:250px;
left:160px;
}